:root {
    --light: #ffffff;
    --dark: #1a1818;
    --gray: lightgray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    margin: 0%;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
}

.title-nav {
    flex-grow: 0.5;
}

.front {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 75vh;
    padding: 2rem;
    padding-top: 0;
}

.front-image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
    box-shadow: .5rem .5rem var(--dark);
}

.how-it-works {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: var(--dark);
}

.how-it-works>* {
    color: var(--light);
}

.steps {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    width: 60%;
    margin: auto;
}

.step {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.step-image {
    width: 8rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: .5rem;
}

.step-text {
    width: 10rem;
}

.reviews {
    display: block;
    margin: auto;
    width: 75%;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.reviews-heading {
    text-align: center;
}

.review {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    min-height: 20rem;
    padding: .5rem;
    border-radius: .5rem;
    box-shadow: .5rem .5rem var(--dark);
    background-color: var(--gray);
}

.review-description {
    text-align: center;
    font-size: larger;
}

.review-name {
    text-align: center;
}

.bottom {
    display: block;
    position: relative;
    padding: 1rem;
    min-height: 5rem;
    background-color: var(--dark);
}

.bottom>* {
    color: var(--light);
}

.bottom-nav {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.copyright-text {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
}