:root {
    --white: #ffffff;
    --dark: #1a1818;
    --gray: lightgray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    margin: 0%;
}

.topbar {
    display: flex;
    height: 2rem;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.title-nav {
    flex-grow: 0.5;
}

div.front {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    min-height: 75vh;
    padding: 2rem;
    padding-top: 0;
}

.front-image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5em;
    box-shadow: .5em .5em var(--dark);
}

.front-text {
    width: fit-content;
}

div.how-it-works {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-evenly;
    margin: auto;
    padding: 1rem;
    background-color: var(--dark);
}

h3.how-it-works {
    text-align: center;
    color: var(--white);
}

div.steps {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
    width: 60%;
    margin: auto;
}

div.step {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.step-image {
    width: 8rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: .5rem;
}

.step-text {
    width: 10rem;
    word-wrap: normal;
    color: var(--white);
}

div.reviews {
    display: block;
    margin: auto;
    width: 80%;
    padding: 2rem;
}

h3.reviews {
    text-align: center;
}

div.review {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    min-height: 20rem;
    background-color: var(--gray);
    padding: .5rem;
    border-radius: .5em;
    box-shadow: .5em .5em var(--dark);
}

p.review {
    text-align: center;
    font-size: larger;
}

p.review-name {
    text-align: center;
}

div.bottom {
    display: block;
    position: relative;
    background-color: var(--dark);
    padding: 1em;
    min-height: 5em;
}

.bottom-nav {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.bottom-nav>* {
    color: var(--white);
    margin: 0;
}

p.copyright {
    position: absolute;
    left: 50%;
    bottom: 1em;
    transform: translateX(-50%);
    color: var(--white);
}